<h1><%= @restaurant.name %></h1>

<h2><%=@restaurant.category %></h2>

<h4><%= @restaurant.address %></h4>

<%= link_to "go back to the list",restaurants_path %>
<%= link_to "add a review",new_restaurant_review_path(@restaurant) %>
